body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: #040F28;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.up {
  position: fixed;
  bottom: 50px;
  right: 50px;
}
@media (max-width: 1439px) {
  .up {
    display: none;
  }
}
.up__icon {
  font-size: 58px;
  color: #611f9f;
}
.up__icon:active {
  color: #611f9f;
}
.up__icon:hover {
  color: #7828c3;
}

a {
  display: block;
}

.btn {
  padding: 16px 32px;
  border: 2px solid #C4C4C4;
  border-radius: 87px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  text-align: center;
  color: #FFFFFF;
  transition: all 0.3s;
}
.btn:hover {
  opacity: 0.7;
}
.btn-red {
  background: #FC3867;
  border: none;
}

h1 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 56px;
  line-height: 74px;
  text-transform: capitalize;
  color: #C4C4C4;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -0.5px;
  color: #FFFFFF;
}

.text {
  font-weight: 400;
}

.header {
  position: relative;
  overflow: hidden;
}
@media (max-width: 768px) {
  .header {
    padding-bottom: 30px;
  }
}
.header .wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px 30px 0 30px;
}
.header .wrapper:first-child {
  margin-bottom: 60px;
}
@media (max-width: 750px) {
  .header .wrapper:first-child {
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .header .wrapper:last-of-type {
    flex-direction: column-reverse;
  }
}
@media (max-width: 850px) {
  .header .logo {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}
.header .logo a {
  margin-right: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #C4C4C4;
  transition: color 0.3s;
}
.header .logo a:hover {
  color: #FFFFFF;
}
.header-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 650px;
  width: 100%;
}
.header-menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 470px;
  width: 100%;
}
@media (max-width: 670px) {
  .header-menu__list {
    margin-bottom: 20px;
  }
}
.header-menu__link {
  font-weight: 500;
  line-height: 18px;
  color: #C4C4C4;
  transition: color 0.3s;
}
.header-menu__link:hover {
  color: #FFFFFF;
}
@media (max-width: 380px) {
  .header-menu__link {
    font-size: 12px;
  }
}
@media (max-width: 670px) {
  .header-menu .btn {
    padding: 10px 20px;
    margin: 0 auto;
    font-size: 12px;
  }
}
.header-content {
  max-width: 490px;
}
@media (max-width: 950px) {
  .header-content {
    max-width: 400px;
  }
}
@media (max-width: 850px) {
  .header-content {
    max-width: 300px;
  }
}
@media (max-width: 850px) {
  .header-content {
    max-width: 400px;
  }
}
@media (max-width: 750px) {
  .header-content h1 {
    font-size: 36px;
    line-height: 46px;
  }
}
.header-content .header-text {
  margin-bottom: 40px;
  line-height: 32px;
  color: #646464;
}
@media (max-width: 768px) {
  .header-content .header-text {
    color: #ffffff;
  }
}
.header-content .btn {
  width: 170px;
}
@media (max-width: 768px) {
  .header-content .btn {
    padding: 14px 20px;
    margin: 0 auto;
    font-size: 12px;
  }
}
.header-photo {
  margin-right: 30px;
  max-width: 497px;
  width: 100%;
  height: 656px;
  background: url("../img/photo.jpg") center/cover no-repeat;
}
@media (max-width: 1100px) {
  .header-photo {
    max-width: 350px;
    height: 500px;
  }
}
@media (max-width: 768px) {
  .header-photo {
    margin-bottom: 20px;
  }
}
.header .line {
  position: absolute;
  z-index: -1;
}
.header .line-left {
  top: -250px;
  left: -100px;
}
.header .line-right {
  bottom: -290px;
  right: 0px;
}

.statistic {
  padding: 90px 10px;
  background: #FFFFFF;
}
.statistic .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
.statistic-item {
  text-align: center;
  color: #070707;
  max-width: 33.3%;
  width: 100%;
}
@media (max-width: 500px) {
  .statistic-item {
    padding: 0 10px;
  }
}
.statistic-item:not(:last-child) {
  border-right: 1px solid #D8D8D8;
}
.statistic-number {
  margin-bottom: 15px;
  display: block;
  font-weight: 700;
  font-size: 64px;
}
@media (max-width: 750px) {
  .statistic-number {
    font-size: 32px;
  }
}
@media (max-width: 450px) {
  .statistic-number {
    font-size: 24px;
  }
}
.statistic-text {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
}
@media (max-width: 750px) {
  .statistic-text {
    font-size: 12px;
  }
}
.statistic-text-grey {
  font-weight: 400;
  font-size: 16px;
  color: #C4C4C4;
  font-size: 12px;
}
.benefits {
  padding: 150px 10px 0 10px;
  color: #FFFFFF;
}
@media (max-width: 900px) {
  .benefits {
    padding: 50px 10px 0 10px;
  }
}
.benefits-label {
  margin-bottom: 10px;
  display: block;
  text-align: left;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media (max-width: 900px) {
  .benefits-label {
    text-align: center;
  }
}
@media (max-width: 400px) {
  .benefits-label {
    font-size: 16px;
  }
}
.benefits-title {
  max-width: 470px;
  text-transform: capitalize;
}
@media (max-width: 900px) {
  .benefits-title {
    margin: 0 auto;
  }
}
@media (max-width: 400px) {
  .benefits-title {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 20px;
  }
}
.benefits-text {
  max-width: 395px;
  line-height: 180%;
}
@media (max-width: 900px) {
  .benefits-text {
    margin: 0 auto;
  }
}
@media (max-width: 400px) {
  .benefits-text {
    font-size: 14px;
  }
}
.benefits .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 50px;
}
.benefits-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.benefits-block {
  display: flex;
  width: 290px;
}
@media (max-width: 900px) {
  .benefits-block {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 25px;
  }
}
.benefits-block__icon {
  display: block;
  margin-right: 20px;
  width: 48px;
  height: 48px;
}
@media (max-width: 400px) {
  .benefits-block__icon {
    width: 32px;
    height: 32px;
  }
}
.benefits-block__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
}
@media (max-width: 400px) {
  .benefits-block__title {
    font-size: 14px;
  }
}
.benefits-block__text {
  max-width: 245px;
  max-width: 100%;
}
@media (max-width: 400px) {
  .benefits-block__text {
    font-size: 12px;
  }
}

.services {
  padding: 110px 10px 0 10px;
}
@media (max-width: 500px) {
  .services {
    padding: 30px 10px 0 10px;
  }
}
.services-title {
  margin-bottom: 25px;
  font-size: 36px;
  text-align: center;
}
@media (max-width: 500px) {
  .services-title {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 15px;
  }
}
.services-text {
  margin-bottom: 70px;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 500px) {
  .services-text {
    margin-bottom: 30px;
  }
}
.services-cards {
  display: flex;
  flex-wrap: wrap;
}
.services-card {
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-radius: 12px;
  padding: 24px 32px;
  margin-bottom: 40px;
  width: calc(50% - 20px);
}
.services-card:nth-child(odd) {
  margin-right: 40px;
}
@media (max-width: 800px) {
  .services-card:nth-child(odd) {
    margin-right: auto;
  }
}
@media (max-width: 800px) {
  .services-card {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .services-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.services-card__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  min-width: 80px;
  height: 80px;
  background: #FC3867;
  border-radius: 50%;
}
@media (max-width: 500px) {
  .services-card__icon {
    margin-bottom: 20px;
    min-width: 60px;
    height: 60px;
  }
}
.services-card__title {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}
@media (max-width: 500px) {
  .services-card__title {
    font-size: 18px;
    margin-bottom: 10px;
  }
}
.services-card__text {
  line-height: 160%;
  color: #272727;
}
@media (max-width: 500px) {
  .services-card__text {
    font-size: 14px;
  }
}

.creative {
  padding: 110px 10px 0 10px;
  text-align: center;
}
@media (max-width: 500px) {
  .creative {
    padding: 30px 10px 0 10px;
  }
}
.creative .title {
  margin-bottom: 15px;
}
@media (max-width: 500px) {
  .creative .title {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 15px;
  }
}
.creative-text {
  margin: 0 auto 55px auto;
  max-width: 420px;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}
@media (max-width: 500px) {
  .creative-text {
    margin-bottom: 20px;
  }
}
.creative-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.creative-gallery__item {
  margin-bottom: 24px;
  width: calc(50% - 12px);
  height: 320px;
  border-radius: 12px;
}
@media (max-width: 500px) {
  .creative-gallery__item {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.price {
  padding: 110px 10px 170px 10px;
  text-align: center;
}
@media (max-width: 800px) {
  .price {
    padding: 30px 10px 30px 10px;
  }
}
.price-label {
  font-weight: 500;
  color: #FFFFFF;
}
.price .title {
  margin-bottom: 70px;
}
@media (max-width: 500px) {
  .price .title {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 32px;
  }
}
.price-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: left;
  max-width: 980px;
  margin: 0 auto;
}
.price-card {
  position: relative;
  padding: 52px 24px 48px 24px;
  margin-bottom: 40px;
  width: 300px;
  min-height: 450px;
  background: #FFFFFF;
  border-radius: 12px;
  color: #000000;
}
@media (max-width: 500px) {
  .price-card {
    min-height: 350px;
  }
}
.price-card:not(:last-child) {
  margin-right: 40px;
}
@media (max-width: 500px) {
  .price-card:not(:last-child) {
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 980px) {
  .price-card:nth-child(2) {
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  .price-card:nth-child(2) {
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 600px) {
  .price-card:first-child {
    margin-right: auto;
    margin-left: auto;
  }
}
.price-card__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
}
.price-card__dollar {
  display: block;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 48px;
}
.price-card__dollar::after {
  content: "/month";
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  margin-left: 10px;
}
.price-card ul {
  margin-bottom: 20px;
}
.price-card li {
  display: flex;
  margin-bottom: 15px;
  font-size: 14px;
  color: #272727;
}
.price-card li::before {
  content: "";
  display: block;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  background: url("../icons/yes.png");
}
.price-card .btn {
  position: absolute;
  bottom: 48px;
  left: 50%;
  transform: translateX(-50%);
  width: 165px;
  color: #272727;
  border: 2px solid #272727;
}
@media (max-width: 670px) {
  .price-card .btn {
    bottom: 15px;
    padding: 14px 20px;
    margin: 0 auto;
    font-size: 12px;
  }
}
.price-card .btn-red {
  border: 2px solid #FC3867;
  color: #FFFFFF;
}

.subscribe {
  padding: 40px 10px;
  background: #ffffff;
  text-align: center;
}
.subscribe-label {
  margin-bottom: 10px;
  font-weight: 600;
  color: #C4C4C4;
}
@media (max-width: 500px) {
  .subscribe-label {
    font-size: 12px;
  }
}
.subscribe-title {
  margin-bottom: 25px;
  font-size: 40px;
  color: #212226;
}
@media (max-width: 500px) {
  .subscribe-title {
    font-size: 28px;
    line-height: 32px;
  }
}
.subscribe .btn {
  margin: 0 auto;
  width: 170px;
}
@media (max-width: 670px) {
  .subscribe .btn {
    bottom: 15px;
    padding: 14px 20px;
    margin: 0 auto;
    font-size: 12px;
  }
}

.footer {
  padding: 42px 10px 35px 10px;
  background: #070707;
}
.footer .wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
}
@media (max-width: 850px) {
  .footer .wrapper {
    flex-direction: column-reverse;
  }
}
.footer .wrapper .logo {
  margin-bottom: 15px;
}
.footer .wrapper .logo a {
  font-weight: 800;
  font-size: 24px;
  color: #FFFFFF;
}
.footer .content-block {
  max-width: 320px;
  margin-right: 10px;
}
@media (max-width: 850px) {
  .footer .content-block {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.footer-text {
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 24px;
  color: #C4C4C4;
}
.footer-social ul {
  display: flex;
}
@media (max-width: 850px) {
  .footer-social ul {
    justify-content: center;
  }
}
.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  border-radius: 50%;
}
.footer-social__icon {
  color: #C4C4C4;
  transition: color 0.2s ease-in;
}
.footer-social__icon:hover {
  color: #999898;
}
.footer-navs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 750px;
  width: 100%;
}
@media (max-width: 500px) {
  .footer-navs .footer-menu {
    width: 50%;
    text-align: center;
  }
}
.footer-navs .footer-menu__label {
  display: block;
  margin-bottom: 25px;
  color: #FFFFFF;
}
.footer-navs .footer-menu ul li {
  margin-bottom: 25px;
}
.footer-navs .footer-menu ul li a {
  font-size: 14px;
  color: #C4C4C4;
}
.footer-navs .footer-menu ul li a:hover {
  text-decoration: underline;
}
@media (max-width: 400px) {
  .footer-navs .footer-menu ul li a {
    font-size: 12px;
  }
}
.footer .copy {
  padding: 35px 0 15px 0;
  text-align: center;
  border-top: 1px solid rgba(196, 196, 196, 0.5019607843);
}
@media (max-width: 450px) {
  .footer .copy {
    padding: 15px 0 15px 0;
  }
}
.footer .copy-text {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  color: rgba(196, 196, 196, 0.5019607843);
}

.author {
  color: rgba(196, 196, 196, 0.5019607843);
  transition: color 0.2s ease-in;
}
.author:hover {
  text-decoration: underline;
  color: rgba(135, 135, 135, 0.5019607843);
}/*# sourceMappingURL=style.css.map */